.image-container {
    position: relative;
  }

  .overlay-button {
    position: relative;
    bottom: 60px;
    margin-left: 50px; 
    z-index: 2; 
  }

  .overlay {
    position: absolute;
    bottom: 2px ;
    left: 40px;
    width: 94%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  

 @media screen and (max-width:576px) {

  .overlay{
    display: none;
  }
  
 }

 @media screen and (min-width:577px) and (max-width:768px) {
  .overlay{
    display: none;
  }
  
 }